html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.container {
    margin: auto;
    max-width: 500px;
    padding-top: 5%;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    background-image: url("../images/white-cloud-on-blue-sky.jpg");
    background-position: center;
}
.foot{
    font-size: 12px;
    padding: 5%;
}